* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* header section */


.btn {
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 15px 25px;
    border: none;

}

.header {
    height: 100vh;
    width: 100%;
    background-color: red;

}

.Header-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 225px;
}

.header-img {
    height: 520px;
    width: 99%;
}

.discription {
    margin: 20px 0;
    color: #272727;
}

.header-title {
    font-size: 50px;
}

/* Hot deal sale up secction */


.off {
    color: red;
}

.sale-up {
    text-align: center;
}

.sale-up-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    background-color: blue;
    padding: 60px;
    gap: 100px;

}

.sale-up-img {
    width: 70%;
}

.discription {
    margin: 20px 0;
    color: black;
}

/* instra section */


.Instra-secttion {
    width: 75%;
    margin: auto;
    text-align: center;
    margin-top: 80px;
}

.instra-img {
    display: flex;
    gap: 10px;
}

.img {
    width: 100%;
}

/* latest section */


.latest-section {
    background-image: url("./Flower Asset/Rectangle\ 9.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 75%;
    margin: auto;
    margin-top: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

}

.latest {
    align-items: center;

}

.latest-input {
    align-items: center;
    display: flex;
    gap: 10px;

}

.input {
    border: none;
    width: 450px;
    height: 45px;
    border-radius: 5px;
    padding-left: 20px;
}

/* footer section */
.flower {
    color: #b5425b;
}

.flower-shop {
    text-align: center;
    background-color: rgb(87, 67, 67);
    color: white;
    padding: 60px 0;
    margin-top: 80px;

}

.color {
    color: white;
}

/* featue section */

.feature {
    text-align: center;
    width: 75%;
    margin: 80px auto 0;
}

.feature-img {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

}

.first-img {
    background-color: blue;
    height: 450px;
    width: 360px;
    border-radius: 250px 250px 0 0;
}

.second-img {
    background-color: chartreuse;
    height: 450px;
    width: 360px;
    border-radius: 250px 250px 0 0;
}

.third-img {
    background-color: darkorchid;
    height: 450px;
    width: 360px;
    border-radius: 250px 250px 0 0;
}

.img-feature {
    width: 280px;
    height: 330px;
margin-top: 120px;
}
.img-cap{
margin-top: 20px;
text-decoration: underline;
}
.extra{
    margin-bottom: 40px;
}
